.typeahead {
  /**
   * TODO:
   * - Write CSS for this component
   * - Refer to the image in the readme
   */
    font-family: Arial;
}

input[type=text] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #dde1e4;
    border-radius: .25rem;
    padding: 3px 10px 3px 10px;
    height: 30px;
    width: 380px;
}

input[type=text]:focus {
    box-shadow: 0 0 5px #ff9800;
    border: 1px solid #ff5722;
}

ul.border {
    background-color: #e2e2e2;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    list-style: none;
    padding: 0;
    overflow-y:scroll;
    max-height: 300px;
    line-height:25px;
    width: 400px;
}
li {
    padding: 10px;
}
li:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    padding:10px;
}

a {
    display: block;
    width: 100%;
}